/*--------------------------------------------------------------------- File Name: meanmenu.css ---------------------------------------------------------------------*/

a.meanmenu-reveal {
     display: none;
}

.mean-container .mean-bar {
     float: left;
     min-height: 40px;
     padding: 5px 0;
     position: relative;
     width: 100%;
     z-index: 999;
     margin-top: 15px;
}

.mean-container a.meanmenu-reveal {
     color: #fff;
     cursor: pointer;
     display: block;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     height: 22px;
     line-height: 22px;
     position: absolute;
     right: 12px;
     text-decoration: none;
     top: 12px;
     width: 26px;
}



.